<div class="dashboard">
    <div id="title">
        <h1>Dashboard</h1>
        <p>To make sure you're getting the most out of Masterpass, see if the actions below could benefit your company.</p>
    </div>
    <div id="body">
        <div class="content clearfix">
            <div class="content-inner">
                <div class="customTable">

                    <div class="row tRow"> </div>

                    <div class="row tRow">
                        <div class="col col-xs-2 logo-col"><img src="../src/assets/images/binocular-logo.png" alt="logo"></div>
                        <div class="col col-xs-6 content-col">
                            <div class="heading">Make Yourself Visible</div>
                            <div class="main-content">Adjust settings to make yourself visible to merchants seeking a Service Provider.</div>
                        </div>
                        <button class="btn btn-primary" type="button" routerLink="/businessprofile">Start Now</button>
                    </div>

                    <div class="row tRow">
                        <div class="col col-xs-2 logo-col"><img src="../src/assets/images/developer-add-logo.png" alt="logo"></div>
                        <div class="col col-xs-6 content-col">
                            <div class="heading">Invite Developers, Access Documentation</div>
                            <div class="main-content">Invite developers to access documentation and complete Masterpass integration.</div>
                        </div>
                        <button class="btn btn-primary" type="button" routerLink="/inviteuser">Invite Now</button>
                    </div>

                    <div class="row tRow">
                        <div class="col col-xs-2 logo-col"><img src="../src/assets/images/key-logo.png" alt="logo"></div>
                        <div class="col col-xs-6 content-col">
                            <div class="heading">Approve Keys</div>
                            <div class="main-content">Approve Sandbox and Production keys to complete authenticating Masterpass transactions.</div>
                        </div>
                        <button class="btn btn-primary" type="button" routerLink="/keymanagement">Approve Now</button>
                    </div>

                    <div class="row tRow">
                        <div class="col col-xs-2 logo-col"><img src="../src/assets/images/shipping-logo.png" alt="logo"></div>
                        <div class="col col-xs-6 content-col">
                            <div class="heading">Setup/Manage Shipping Profiles</div>
                            <div class="main-content">Setup shipping profiles for secure locations.</div>
                        </div>
                        <button class="btn btn-primary" type="button" routerLink="/shippingprofiles">Setup Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>